/* Global rules Start */

/* en */
@font-face {
  font-family: "en_font";
  src: url("../assets/fonts/Madimi_One/MadimiOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/Madimi_One/MadimiOne-Regular.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar */
@font-face {
  font-family: "ar_font";
  src: url("../assets/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff2")
      format("woff2"),
    url("../assets/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff")
      format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar cairo */
@font-face {
  font-family: "cairo";
  src: url("../assets/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff2")
      format("woff2"),
    url("../assets/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff")
      format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

:root {
  --border-rad: 20px;
  --padding: 10px;
  --orange1: #faac0d;
  --orange2: #faab0d50;
  --orange3: #faab0dcb;
  --orange4: #faab0de0;
  --orange5: #faab0da0;
  --green1: #108207;
  --green2: #076800;
  --green3: #076e0050;
  --green4: #0a920099;
  --white-col: #ffffffcf;
  --en_font: "en_font";
  --ar_font: "ar_font";
  --transition: 500ms;
}

html {
  scroll-behavior: smooth;
  color: #fff;
  container: html / inline-size;
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  scrollbar-width: none;
  /* remove the blue feedback box on click */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  /* hide the scrollbar */
  display: none;
}

body {
  height: 100dvh;
  background-color: #000;
  font-family: var(--en_font), monospace;
  gap: 10px;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  container: body / inline-size;

  &.ar {
    direction: rtl;
    font-family: var(--ar_font), monospace;
  }
}

.switch {
  --w: 35px;
  width: var(--w);
  aspect-ratio: 1 / 0.5;
  background-color: transparent;
  border: 3px solid var(--green1);
  border-radius: 100px;
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -120% -50%;
    width: calc(var(--w) * 0.3);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--green1);
    transition-property: translate, background-color;
    transition-duration: inherit;
  }

  &.on {
    background-color: var(--green1);

    &::before {
      translate: 20% -50%;
      background-color: var(--orange1);
    }
  }
}
/* Global rules End */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;

  & > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & > img {
      width: 60px;
    }

    & > .txt {
      display: flex;
      gap: 2px;
      font-size: 1.7rem;
      word-spacing: -5px;
      position: relative;

      & > span:first-child {
        color: var(--orange1);
      }
      & > span:last-child {
        color: var(--green1);
      }

      &.ar {
        flex-direction: row-reverse;
        top: 3px;

        & > span:first-child {
          color: var(--orange1);
        }
        & > span:last-child {
          color: var(--green1);
        }
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  gap: 3px;
  border-radius: var(--border-rad);
  overflow: hidden;
  background-color: var(--orange1);
  position: relative;

  & > .content {
    flex: 1;
    background-color: var(--orange1);
    background-image: url(../assets/imgs/m1.png),
      linear-gradient(var(--orange1), var(--green1));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: var(--padding);
    overflow: auto;

    & > * {
      width: 100%;
      height: 100%;
    }

    & i.bad-net {
      position: absolute;
      color: var(--green2);
      animation: blink 0.5s linear 0.5s infinite alternate;
      display: none;
    }

    & i.icon {
      color: var(--white-col);
    }

    & .clock {
      display: flex;
      align-items: center;
      font-family: var(--en_font);
    }

    /* prayer times page start */
    & > #prayerTimesPage {
      /* display: flex; */
      flex-direction: column;
      gap: 5px;
      position: relative;
      display: none;

      & > i.bad-net {
        top: 0;
        left: 0;
      }

      & > .date {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-block-end: 10px;

        & > * {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > .weekday {
          font-size: calc(1.5rem + 2vw);
          align-items: center;
          gap: 10px;

          & > i {
            font-size: calc(1.2rem + 1vw);
          }
        }

        & > .d-m-y {
          gap: 20px;
          color: var(--white-col);

          & > :is(.day, .year) {
            font-family: var(--en_font);
          }

          & > * {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & > .hijri {
              color: var(--green1);
            }
          }
        }
      }
      @container html (inline-size >= 870px) {
        .date > .d-m-y {
          font-size: 1.3rem;
        }
      }

      & > .location_temp {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--white-col);
        font-family: var(--en_font);

        & > .temperature {
          display: flex;
          gap: 10px;
          align-items: center;
          color: var(--white-col);

          & > .degree {
            display: flex;
            gap: 1px;
            direction: ltr;

            &::after {
              content: "\00B0""C";
            }
          }
        }
      }

      & > .clock {
        gap: 10px;
        color: var(--white-col);

        & > .time {
          display: flex;
          direction: ltr;

          & > * {
            width: 18px;
          }
        }
      }

      & > .times {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;

        & > * {
          width: 100%;
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        & > .next-prayer {
          gap: 5px;
          background-color: var(--green3);
          border-radius: var(--border-rad);
          padding: var(--padding);
          align-items: center;
          justify-content: center;
          white-space: normal;

          & > .prayer-name {
            font-size: 4.5rem;
            margin-block-end: 15px;
          }

          & > .txt {
            color: var(--white-col);
          }

          & > .clock.counter-down {
            font-size: 2.5rem;
            direction: ltr;

            &.blink {
              color: var(--orange1);
              animation: blink infinite ease 700ms alternate;
            }

            & > * {
              width: 45px;
            }
          }
        }
        @container html (inline-size < 870px) {
          .next-prayer {
            & > .prayer-name {
              font-size: calc(1.5rem + 2vw);
            }

            & > .txt {
              font-size: calc(0.6rem + 0.5vw);
            }

            & > .clock.counter-down {
              font-size: 1.2rem;

              & > * {
                width: 20px;
              }
            }
          }
        }

        & > .prayers {
          gap: 10px;

          & > .prayer {
            flex: 1;
            background-color: var(--green3);
            padding: var(--padding);
            border-radius: var(--border-rad);
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;

            &.picked {
              background-color: var(--orange1);
              color: var(--green1);

              & > .icon-name > i {
                color: inherit;
              }
            }

            & > .icon-name {
              display: flex;
              /* align-items: center; */
              gap: 10px;
            }

            & > .time {
              font-family: var(--en_font);
            }
          }
          @container html (inline-size < 870px) {
            .prayer.midnight {
              display: none;
            }
          }
        }
        @container html (inline-size >= 870px) {
          .prayers {
            flex-direction: row;
            align-items: center;

            & > * {
              min-width: 85px;
              flex-direction: column;
              justify-content: normal;
              height: fit-content;

              & > .icon-name {
                flex-direction: column;

                & > i {
                  font-size: 2rem;
                }

                & > .name {
                  font-size: 1rem;
                }
              }

              & > .time {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
      @container html (inline-size < 870px) {
        .times {
          flex-direction: row;

          & > .prayers {
            flex: 2;
          }
        }
      }
      @container html (inline-size < 295px) {
        .times {
          gap: 5px;

          & > .prayers > .prayer {
            gap: 7px;

            & > .icon-name {
              gap: 7px;
            }
          }
        }
      }
      /* prayer times page end */
    }

    & > #settingsPage {
      border-radius: var(--border-rad);
      background-color: var(--green3);
      padding: 20px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      position: relative;
      display: none;

      & > .option {
        display: flex;
        align-items: center;
        gap: 10px;
        direction: ltr;

        & > i {
          font-size: 1.5rem;
          color: var(--green1);
          cursor: pointer;
          transition: all var(--transition);
        }

        & > span {
          color: var(--white-col);
        }
      }

      & > .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        gap: 5px;

        & > span:nth-child(1) {
          color: var(--orange1);
        }
        & > span:nth-child(2) {
          color: var(--white-col);
        }
        & > span:nth-child(3) {
          color: var(--orange1);
        }
      }
    }
  }

  & > nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--green1);
    padding: 7px;
    overflow: auto;

    & > * {
      padding: var(--padding);
      border-radius: var(--border-rad);
      background-color: var(--green2);
      width: 80px;
      height: 75px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;

      &:focus-visible {
        outline: 2px solid var(--white-col);
      }

      &:hover {
        background-color: var(--orange2);
      }

      &.picked {
        background-color: var(--orange1);
        color: var(--green1);
      }

      & > i {
        font-size: 1.3rem;
      }

      & > .txt {
        font-size: 0.7rem;
      }
    }
  }
}
@container html (inline-size < 870px) {
  main {
    /* vertical mode */
    flex-direction: column-reverse;

    & > nav {
      /* horizontal mode */
      flex-direction: row;
      gap: 20px;
    }

    &
      > .content
      > #prayerTimesPage
      > .times
      > .prayers
      > .prayer
      > .icon-name
      > i {
      position: relative;
      top: 3px;
    }
  }
}

/* animation keyframes */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    rotate: z 360deg;
  }
}

@keyframes r-spin {
  to {
    rotate: z -360deg;
  }
}

/* @media for mobile */
@media (height <= 770px) {
  header {
    & > .logo {
      gap: 8px;

      & > img {
        width: 50px;
      }

      & > .txt {
        font-size: 1.4rem;
      }
    }
  }
}

@media (height <= 710px) {
  header {
    & > .logo {
      gap: 6px;

      & > img {
        width: 40px;
      }

      & > .txt {
        font-size: 1.2rem;
      }
    }
  }

  main {
    &
      > .content
      > #prayerTimesPage
      > .times
      > .prayers
      > .prayer:is(.sunrise, .midnight) {
      display: none;
    }

    & > nav > * {
      width: 65px;
      height: 50px;
      gap: 5px;
      padding: 5px;

      & > i {
        font-size: 0.8rem;
      }

      & > .txt {
        font-size: 0.5rem;
      }
    }
  }
}

@media (height <= 650px) {
  header {
    & > .logo {
      gap: 4px;

      & > img {
        width: 30px;
      }

      & > .txt {
        font-size: 0.9rem;
      }
    }
  }

  body {
    gap: 5px;
  }

  main > .content > #prayerTimesPage > .times > .prayers {
    gap: 5px;
  }
}
